<p style="text-align: center;">Nombre del empleado: {{getNombre()}}</p>

<p style="text-align: center;">apellido del empleado: {{getApellido()}}</p>

<p style="text-align: center;">edad del empleado: {{getEdad() < 18 ? "es menor de edad" : "mayor de edad"}}</p>

<p style="text-align: center;">empresa del empleado: {{getEmpresa()}}</p>

<!-- Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro"> -->

Introduce la empresa: <input type="text" [(ngModel)]="empresa">

<br/>
<br/>
{{textoDeRegistro}}
<br/>
Registrado: <input type="radio" value = "si" name= "nRegistro" id="registro" [checked]="usoRegistrado" (click)="setUsuarioRegistrado($event)">
No Registrado : <input type="radio" value = "no" name= "nRegistro" (click)="setUsuarioRegistrado($event)">
{{getRegistroUsuario()}}
